* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --band-top-height: 112px;
  --band-primary-black: #222222;
  --band-secondary-black: #2b2b2b;
  --band-search-bg: #464646;
  --band-filter-bg: #3c3c3c;
}

.debug {
  * {
    border: 1px dashed;
  }

  .top {
    height: var(--band-top-height);
    background-color: steelblue;

    .nav {
      background-color: blueviolet;
      width: 100%;
      height: calc(100% / 2);
    }

    .logo {
      background-color: aliceblue;
      width: 150px;
      height: 40px;
    }

    .src-bar {
      background-color: aliceblue;
      height: 40px;
      width: 200px;
    }

    .btn {
      background-color: aliceblue;
      height: 40px;
      width: 100px;
    }

    .filter {
      background-color: aliceblue;
      height: 40px;
      width: 300px;
    }

    .bottom-nav {
      background-color: firebrick;
      height: 50%;
    }
  }

  .bottom {
    height: calc(100% - var(--band-top-height));
    background-color: slategray;
    
    .left, .right {
      height: 100%;
    }

    .left {
      width: 65%;
      overflow-y: auto;
    }

    .right {
      width: 35%;
    }

    .album-col {
      height: 200px;
    }
}

  


}

.d-flex {
  display: flex;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}


.nav {
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--band-primary-black);
}


.nav-left {
  align-items: center;
  gap: 10px;
}

.btns {
  align-items: center;
  gap: 10px;
  
  .btn {
    color: white;
    padding: 0 10px;
  }
}

.bottom-nav {
  align-items: center;
  padding: 10px 20px;
  background-color: var(--band-secondary-black);
}

#search-bar {
  width: 250px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: var(--band-search-bg);
}

#filter {
  background-color: var(--band-filter-bg);
  width: 370px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid grey;
}

.container {
  flex-wrap: wrap;

  .album-col {
    width: calc(100% / 4);
  }
}

.bottom {
  background-color: var(--band-primary-black);
  color: white;
}

.artwork {
  width: 100%;
}