* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --band-top-height: 112px;
  --band-primary-black: #222222;
  --band-secondary-black: #2b2b2b;
  --band-search-bg: #464646;
  --band-filter-bg: #3c3c3c;
}

.debug {
  * {
    border: 1px dashed;
  }

  .top {
    height: var(--band-top-height);
    background-color: steelblue;

    .nav {
      background-color: blueviolet;
      width: 100%;
      height: calc(100% / 2);
    }

    .logo {
      background-color: aliceblue;
      width: 150px;
      height: 40px;
    }

    .src-bar {
      background-color: aliceblue;
      height: 40px;
      width: 200px;
    }

    .btn {
      background-color: aliceblue;
      height: 40px;
      width: 100px;
    }

    .filter {
      background-color: aliceblue;
      height: 40px;
      width: 300px;
    }

    .bottom-nav {
      background-color: firebrick;
      height: 50%;
    }
  }

  .bottom {
    height: calc(100% - var(--band-top-height));
    background-color: slategray;
    
    .left, .right {
      height: 100%;
    }

    .left {
      width: 65%;
    }

    .right {
      width: 35%;
    }

    .album-col {
      height: 200px;
    }
}


}

body {
  background-color: var(--band-primary-black);
}

.container {
  width: 90%;
  margin: auto;
}

.d-flex {
  display: flex;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}


.nav {
  justify-content: space-between;
  padding: 0 10px;
}


.nav-left {
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.btns {
  gap: 15px;
  
  .btn {
    color: white;
    padding: 0 10px;
    align-items: center;
  }
}

.bottom-nav {
  align-items: center;
  padding: 10px 20px;
  background-color: var(--band-secondary-black);
}

.btns i {
  display: none;
  color: white;
}

.src-bar {
  width: 300px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: var(--band-search-bg);
  color: grey;
}

#search-bar {
  width: 90%;
  background-color: var(--band-search-bg);
  border: none;
}

.filter {
  background-color: var(--band-filter-bg);
  width: 415px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid grey;
  color: grey;
}

#filter {
  width: 90%;
  background-color: var(--band-filter-bg);
  border: none;
}

.fa-magnifying-glass {
  margin-right: 5px;
}

.container-flex {
  flex-wrap: wrap;

  .album-col {
    width: calc(100% / 4);
    padding: 0 10px 15px 10px;
  }
}

.bottom {
  color: white;
  padding: 20px 10px;
  height: calc(100% - 103px);
}


.left {
  width: 65%;
  overflow-y: auto;
  border-right: 1px solid grey;
}

.right {
  width: 35%;
  overflow-y: auto;
  margin-bottom: 20px;
}

.song-title {
  font-weight: bold;
}

.album-col {
  span:not(.song-title) {
    color: grey;
  }
}

.card-top {
  position: relative;
}

.img-icon {
  display: none;
  position: absolute;
  top: 87%;
  left: 2%;
}

.artwork {
  width: 100%;
  border: 1px solid grey;
}

.player-card {
  width: 90%;
  margin: auto;
}

.player {
  align-items: center;
  margin: 20px 0;

  a {
    text-decoration: none;
    color: white;
  }
}

.player .fa-circle-play {
  font-size: 75px;
  margin-right: 20px;
}

.player-btns {
  a {
    display: block;
    width: auto;
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px 0;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
  }

  #album {
    background-color: white;
  }

  #wishlist {
    color: white;
  }
}

.profile {
  display: none;
}

/* Effetti */

.sign-btn:hover , .access-btn:hover{
  background-color: rgba(255, 255, 255, 0.169);
  cursor: pointer;
  text-decoration: underline;
  
}

.artwork:not(.player-card .artwork):hover {
  border: 1px solid var(--band-primary-black);
}

.card-top:hover .img-icon {
    display: block;
}

.player a:hover {
  color: rgba(255, 255, 255, 0.895);
}

#album:hover, #wishlist:hover {
  background-color: rgba(255, 255, 255, 0.169);
}
/* Responsive */

@media screen and (max-width: 744px){
  .left .album-col {
    width: calc(100% / 2);
    padding: 0 10px 10px 10px;
  }

  .profile {
    display: contents;
    
    .profile-info {
      gap: 10px;
      align-items: center;
      margin: 20px 0;
    }

    .song-info {
      margin: 30px 0;
    }

    .pfp {
      border-radius: 50%;
      width: 20%;
    }

    .follow-btn {
      a {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    content: url(../img/logo-mobile.jpeg);
  }

  .btns i {
    display: flex;
    align-items: center;
  }

  .src-bar {
    display: none;
  }

  .filter {
    width: 100%;
    margin: auto;
  }

  #filter {
    padding: 3px 0;
    font-size: 13px;
  }
  
  .right {
    display: none;
  }

  .left {
    width: 100%;
  }
}