* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --band-top-height: 112px;
  --band-primary-black: #222222;
  --band-secondary-black: #2b2b2b;
  --band-search-bg: #464646;
  --band-filter-bg: #3c3c3c;
}

.debug {
  * {
    border: 1px dashed;
  }

  .top {
    height: var(--band-top-height);
    background-color: steelblue;

    .nav {
      background-color: blueviolet;
      width: 100%;
      height: calc(100% / 2);
    }

    .logo {
      background-color: aliceblue;
      width: 150px;
      height: 40px;
    }

    .src-bar {
      background-color: aliceblue;
      height: 40px;
      width: 200px;
    }

    .btn {
      background-color: aliceblue;
      height: 40px;
      width: 100px;
    }

    .filter {
      background-color: aliceblue;
      height: 40px;
      width: 300px;
    }

    .bottom-nav {
      background-color: firebrick;
      height: 50%;
    }
  }

  .bottom {
    height: calc(100% - var(--band-top-height));
    background-color: slategray;
    
    .left, .right {
      height: 100%;
    }

    .left {
      width: 65%;
    }

    .right {
      width: 35%;
    }

    .album-col {
      height: 200px;
    }
}


}

body {
  background-color: var(--band-primary-black);
}

.container {
  width: 90%;
  margin: auto;
}

.d-flex {
  display: flex;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}


.nav {
  justify-content: space-between;
  padding: 10px 20px;
}


.nav-left {
  align-items: center;
  gap: 10px;
}

.btns {
  align-items: center;
  gap: 10px;
  
  .btn {
    color: white;
    padding: 0 10px;
  }
}

.bottom-nav {
  align-items: center;
  padding: 10px 20px;
  background-color: var(--band-secondary-black);
}

#search-bar {
  width: 250px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  background-color: var(--band-search-bg);
}

#filter {
  background-color: var(--band-filter-bg);
  width: 370px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid grey;
}

.container-flex {
  flex-wrap: wrap;

  .album-col {
    width: calc(100% / 4);
    padding: 10px;
  }
}

.bottom {
  color: white;
  padding-top: 10px;
  height: calc(100% - 103px);
}


.left {
  width: 65%;
  overflow-y: auto;
  border-right: 1px solid grey;
  padding: 10px 0;
}

.right {
  width: 35%;
  overflow-y: auto;
}

.artwork {
  width: 100%;
  border: 1px solid grey;
}

.player-card {
  width: 90%;
  margin: auto;
}

.player {
  align-items: center;
  margin: 20px 0;
}

.fa-circle-play {
  font-size: 75px;
}

.player-btns {
  a {
    display: block;
    width: 355px;
    text-decoration: none;
    color: black;
    border: 1px solid;
    padding: 10px 0;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
  }

  #album {
    background-color: white;
  }

  #wishlist {
    color: white;
  }
}

.profile-info {
  display: flex;
  gap: 10px;
}

.song-info {
  margin: 30px 0;
}

.pfp {
  border-radius: 50%;
  width: 20%;
}

.follow-btn {
  a {
    color: white;
  }
}